[run]
omit =
    venv/*
    static/*
    project\__init__.py	    
    project\settings.py
    investors\__init__.py	
    investors\admin.py	
    investors\apps.py	
    investors\models.py	
    investors\tests.py	
    investors\migrations\*
    selenium_tests\*
    manage.py
